UPLOAD_PASSWORD=use-a-long-random-password
TENCENT_SECRET_ID=AKIDxxxxxxxx
TENCENT_SECRET_KEY=xxxxxxxx
TENCENT_APP_ID=1454067572
COS_BUCKET=liwanmin-0115-1454067572
COS_REGION=ap-guangzhou
TENCENT_COS_ROLE_ARN=qcs::cam::uin/100000000000:roleName/portfolio-cos-uploader
